.dark-banner {
        background: var(--dark-bg);
        color: white;
        font-weight: bold;
        display: flex;
        justify-content: space-around;
}

#header {
        align-items: center;
}

#brand {
        padding: 10px 6px;
}

#menu {
        display: flex;
        flex-wrap: nowrap;
        gap: 35px;
}

#search {
        display: flex;
        gap: 10px;
}

#search {
        padding: 10px 6px;
        color: var(--dark-bg);
}

.btn {
        padding: 8px;
        border-radius: 5px;
        font-size: 0.9em;
        border: solid white 3px;
        background-color: transparent;
        color: white;
        font-weight: bold;
        text-transform: uppercase;
}

input {
        padding: 12px;
        border-radius: 5px;
        border: none;
        font-size: 0.9em;
}

#breadcrumb {
        background-image: url('/img/main.jpg');
        background-origin: border-box;
        background-position: 0% 75%;
        background-repeat: no-repeat;
        background-size: 100%;
        height: 30vh;
        width: 100%;
        font-weight: bold;
        color: white;
        padding: 5% 8%;
}

.bc-title{
        font-weight: bold;
        font-size: 3em;
        text-transform: uppercase;
        width: 50%;
}

.bc-btn {

}

.section {
        padding: 25px;
}

.CardList {
        display: block;
}

.CardList_list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        column-gap: 15px;
        row-gap: 25px;
}

.SectionTitle {
        font-weight: bold;
        font-size: 2em;
        text-transform: uppercase;
        text-align: center;
        color: var(--dark-bg);
        padding-bottom: 25px;
}


.Card {
        width: 25%;
        box-shadow: 7px 10px rgba(0, 0, 0, 0.1);
}

.Card img {
        width: 100%;
        object-fit: cover;
}

.Card_footer {
        display: flex;
        justify-content: space-around;
        padding: 12px;
}

.Card_title {
}

.Card_like {
        display: block;
}


.Card_like svg {
        width: 30px;
        height: auto;
}

.Card_like svg {
        fill: transparent;
}

.Card_like.liked svg {
        fill: var(--orange);
}

.Card_like svg path {
        stroke: var(--orange);
}


.Newsletter {
}

.Newsletter_services {
        display: flex;
        justify-content: center;
        gap: 50px;
}

.NewsletterItem {
        width: 30%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
        font-size: 1.4em;
        padding-top: 1%;
        padding-bottom: 1%;
}

.NewsletterItem_title {
        font-weight: bold;
        font-size: 1.2em;
        text-transform: uppercase;
}

.NewsletterItem div {
        text-align: center;
}


/* MOBILE */
@media (max-width: 768px) {
        #breadcrumb {
                
        }
        .bc-title {
                font-size: 2em;
        }

        .SectionTitle {
                font-size: 1.5em;
                padding-bottom: 15px;
        }

        .Card {
                width: 35%;
        }
}